body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#converter-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#converter-form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #2063f3;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #000000;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

.footer {
    background-color: #fff; /* Set the background color of your footer */
    color: #333; /* Set the text color of your footer */
    text-align: center;
    padding: 10px; /* Add padding for better appearance */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.topnav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topnav a {
    border-radius: 4px;
    display: inline-block;
    /* Prevents links from stacking on top of each other */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
    /* Add margin between links */
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #2063f3;
    color: white;
}